<div class="jumbotron py-3">
  <h4>Control de presión arterial</h4>
  <h5 >Esta aplicación sirve para llevar un control de la presión arterial.</h5>
    <ul>
      <li>
        "Conectarse" se utiliza para ingresar, con lo cual se puede dar de alta nuevos valores y observar el gráfico. 
      </li>
      <li>
        En "Registrarse" se puede dar de alta un nuevo usuario.
      </li>
      <br>
        <b>Una vez conectado:</b>
      <li>
        En el ítem "Datos" permite ingresar los valores de presión mínima y máxima.
      </li>
      <li>
        En el ítem "Graficos" se encuentra un gráfico realizado con los valores ingresados.
      </li>
    </ul> 
    
  <hr class="my-4">
  <p>Esta aplicación está desarrollada con Angular 7 y Firebase.</p>
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
</div>
